* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Ogólne style body */
body {
  display: block;
  align-items: flex-end; /* Zawartość strony zawsze będzie lądować na dole */
  justify-content: center;
  background-color: #020000;
  font-family: "Audiowide", sans-serif;
}

/* Styl nagłówka */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  height: auto;
  color: white;
  font-family: "Audiowide", sans-serif;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  text-indent: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

.p {
  color: white;
  font-family: "Audiowide", sans-serif;
}

.cta {
  background: #64562f3d;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-family: "Audiowide", sans-serif;
  border-radius: 10px;
}

/* Sekcja Hero */

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("logosz.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-content {
  position: absolute;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 10px;
}

.hero-content h2 {
  font-size: 24px;
  margin-bottom: 20%;
  color: rgba(255, 255, 255, 0.6);
}

.serwer {
  text-align: center;
  color: white;
  margin-bottom: 5%;
  margin-right: 40%;
  padding-bottom: 150px;
  font-size: 60px;
}

.serwer1 h1 {
  position: absolute;
  bottom: 10%;
  left: 32%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 60px;
}
/*-----------------------------------------------------------------------------------------------------*/ /*SERWERY*/ /*------------------------------------------------------------------------------------------------------------------*/

.serwery {
  width: auto;
  height: 500px;
}

/*-----------------------------------------------------------------------------------------------------*/ /*FORUM GŁÓWNE*/ /*------------------------------------------------------------------------------------------------------------------*/
.forum-content {
  width: auto;
  height: 1000px;
  place-content: center;
  place-items: center;
  overflow: hidden;
}
.forum {
  margin-bottom: 300px;
}

.accordion-list {
  margin: 60px;
}

.forum-content .accordion-list ul {
  padding: 0;
  list-style: none;
}

.forum-content .accordion-list li + li {
  margin-top: 15px;
}

.forum-content .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  background: #07182e59;
  color: white;
  border-radius: 20px;
}

.forum-content .accordion-list span {
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.forum-content .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.forum-content .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.forumm {
  text-align: center;
  color: white;
  margin-bottom: 5%;
  font-size: 60px;
}

.reg-a {
  color: gray;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Audiowide", sans-serif;
}

.reg-ul li {
  display: inline;
  font-family: "Audiowide", sans-serif;
}

.forum-content .accordion-list .reg-ul {
  margin-left: -17px;
}

.accordion-list h1 {
  font-family: "Audiowide", sans-serif;
  color: white;
}
.flickering-text {
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
